
body {
  background-color: rgb(26,28,29);
  z-index: -5;
}

.FirstStateContainer {
  text-align: center;
  background-color: rgb(26,28,29);
  border: 10px white solid;
  border-radius: 3px;
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  display: flex;
  float: left;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  height: 100%;
  width: 250px;
  overflow-y: auto;
  border: solid white;
  border-width: 0 5px;
}

.item {
  flex: .5;
  float: left;
  padding: 10px;
}

.navbar {
  margin: 0px;
  padding: 0px;
  text-align: center;
  background-color: rgb(26,28,29);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
}



@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

.logo-title {
  padding-top: 30px;
  padding-left: 10px;
  font-weight: bold;
  color: white;
  display: flex;
}

.logo-container {
  z-index: 10;
  position: relative;
}

.logo-container:hover {
  animation: bounce 1s;
}


#test {
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 20px;
  text-align: center;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.skillParentDiv {
  position: absolute;
  width: 250px;
  height: 100%;
  padding-top: 30px;
  z-index: 1;
}


.skillChildDiv {
  margin-left: -20px;
  padding: 40px;
  width: 262px;
  border-bottom: 5px solid white;
}

.categoryParentDiv {
  position: absolute;
  padding-left: 2px;
  padding-top: 30px;
  padding-bottom: 10px;
  width: 240px;
  z-index: 1;
  margin-left: 0;
  border-bottom: 5px solid white;
  position: absolute;
  left: 0;
}

.categoryChildDiv {
  position: relative;
  width: 180px;
  z-index: 1;
  margin-left: 20px;
  padding-bottom: 30px;

}


#selectedLanguageContainer {
  padding-bottom: 2px;
  width: 250px;
  border-right-style: solid;
  border-right: thick white;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
}

.ProblemContainer {
 width: 100%;
 height: 100%;
 position: absolute;
 border: 10px white solid;
 border-radius: 3px;
}

.problemFieldParent {
  position: relative;
  margin-left: 32%;
  height: 100%;
  width: 76%;
  margin-top: -671px;
  background-color: white;
  border-radius: 4px;
  padding-top: 20px;
}

#blah2 {
  position: relative;
  width: 90% !important;
  height: 651px !important;
  border: 2px gray solid;
  border-radius: 10px;
}

.reset {
  z-index: 1;
}

.take-quiz-button-container {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-right: 110px;
  z-index: 10;
}
.quiz-button-container {
  position: absolute;
  bottom: 0;
  padding-left: 20px;
  padding-bottom: 10px;
}

.contributorPage {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
}


.submitYourCode{
  position: absolute;
  bottom: 40px;
  margin-left: 45%;
}

#compare-instructions {
  position: absolute;
  width: 230px;
  margin-left: 41%;
  top: 0;
  margin-top: 15%
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.contributorSubmitButton {
  right: 10%;
  position: absolute;
}

.problemDisplayDiv {
  position: relative;
  width:100%;
  background-color: white;
  padding: 10px;
  border: black solid;
}

.ProblemContainerChild {
  display: flex;
  flex-direction: column;
}
