html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Ubuntu";

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.button {
  padding: 20px;
  margin: 20px;
}

.titles.language {
  position: absolute;
  font-family: 'Arvo', serif;
  font-size: 80px;
  color: grey;
  width: 220px;
  margin-left: -250px;

}
.titles.skill{
  position: absolute;
  font-family: 'Arvo', serif;
  font-size: 70px;
  color: grey;
  width: 220px;
  margin-left: -170px;
  text-align: center;


}
.titles.categories{
  position: absolute;
  font-family: 'Arvo', serif;
  text-align: center;
  font-size: 80px;
  color: grey;
  width: 220px;
  margin-left: -265px;
}

.ui-inverted-primary-button{
  font-size: 20px;
  margin-left: 20px;
}

.main-title {
  font-size: 100px;
  margin-left: -650px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  background-color: rgb(26,28,29);
}
.sub-title {
  font-family: "Ubuntu", sans-serif;
  position: relative;
  font-size: 40px;
  margin-left: 30px;
}

.home {
  background-color: rgb(26,28,29);
  display: inline-block;
  color: white;
  width: 1000px;
  position: fixed;
   top: 40%;
   left: 50%;
   margin-top: -150px;
   margin-left: -210px;
}



.titleDiv {
  /* position: fixed; */
  /* align-self: end; */
  /* justify-content: flex-end; */
  /* border-left: 50px; */
  /* padding-left: 50px; */
  padding: 20px;
  margin-left:50%;
  margin-top:50%;
}

.text {
  font-size: 18px;
}


.mover {
  position: fixed;
  width: 380px;
  margin-left: 450px;
  padding: 5px;
  height: 100%;
  border-right: solid white 5px;

}

.welcome {
  position: fixed;
  float: right;
  margin-left: 890px;
  margin-top: 50px;
  height: 100%;
  margin-right: 5px;
  padding-right: 5px;
  max-width: 1000px;

}
#contributor-button{
  position: absolute;
  width: 270px;
  margin-left: 1400px;
  margin-top: 1060px;
}

.welcomeTextParent{
  color: lightblue;
  font-family: 'Arvo', serif;
  margin-top: -230px;
}

.ui-inverted-segment{
  background: #1B1C1D;
}
.ui.segment {
  margin-left: 30px;
}

.buttonTerminalParent {
  position: fixed;
  height: 100%;
  width: 330px;
  margin-bottom: 50;
  margin-left: 125;
  padding-left: 50px;
}


.buttonTerminalChild {
  position: relative;
  height: 100px;
  margin-left: -19px;
  padding-top: 30px;
}

.promptText{
  color: white;
  position: relative;
  padding: 5px;
  width: 100%;
  border-right-style: solid;
  border-right-color: white;
  border-right-width: 3px;
  height: 100%;
  z-index: 1;
  overflow-y: auto;

}

.prompt {
  position: relative;
  width: 29%;
  height: 100%;
}


.problemFieldParent {
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  padding: 5px;
  width: 68%;
  height: 100%;
  z-index: 1;
  top: 0;
  margin-left: 600px;
  margin-top: 5.2%;

}

.promptText{
  color: white;
  position: relative;
  padding: 5px;
  width: 100%;
  border-right-style: solid;
  border-right-color: white;
  border-right-width: 3px;
  height: 100%;
  z-index: 1;
  overflow-y: auto;

}
.ProblemListContainer {
  height: 100%
}

.quizContainer {
  height: 100%;
  position: relative;
  width: 26%;
  background-color: white;
  border: solid black 5px;
  border-radius: 4px;
}

.quiz {
  height: 100%;
  position: absolute;
  width: 100%;
  background-color: gray;
  border: solid white 5px;
  border-radius: 4px;
}

.questionWrapperBody {
  width: 80%;
  margin-left: 10%;
  margin-top: 10%;
}

button.answerButton {
  width: 150px;
}

article {
    font-family: "Ubuntu";
}

.problem-settings-container {
  position: absolute;
  top: 0;
  right:0;
  padding: 10px;
  background-color: white;
}

.problem-settings-container-child {
  position: relative;
  margin-left: 2%;
  margin-top: 3%;
  padding: 10px;
  background-color:white;
}

#ace-editor {
  height: 600px;
}

.contributorEditorParent{
  position: relative;
  margin-left: 2%;
  margin-top: 2%;
  padding: 10px;
}

#contributorTextParent {
  position: absolute;
  left: 30%;
  top: 30%;
  color: black;
}

.contributor.language.button{
  position: relative;
  margin-top: 560px;
  margin-left: 570px;
}

#contributorTextChild {
  position: relative;
  max-width: 1050px;
  font-size: 30px;
}


.item {

  border-radius: 5px;
}

.error {
  background-color:  red;
}

.active {
  background-color: green;
}

.redux-quiz {
  position: absolute;
  top: 20%;
  margin-left: 60%;
  width: 30%;
  border: black solid;
}

#selectedLogoDisplay {
  margin-top: -6px;
  pointer-events: none;
}

#buttonDiv {
  display: relative;
  float:right;
}

#logoAndSubmit{
  width: 300px;
  display: flex;
  height: 200px;
}

#difficultyDropdownDiv {
  width: 100%;
  padding: 1px;
}

#categoryDropdownDiv {
  padding: 1px;
  width: 100%;
}

#ten{
  margin-top: 10px;
  margin-left: 140px;
  margin-right: 2%;
}

#problemEditor {
  height: 100%;
  width: 100%;
}

.problemFieldChild {
  height: 46%;
  width: 65%;
  position: fixed;
}

#contributorHeader {
  font-size: 40px;
}
